{% if menu %}
	<nav class="nav nav-underline">
	{% for item in items %}
		<a class="{{ item.classes | join(' ') }} nav-item nav-link link-body-emphasis" target="{{ item.target }}" href="{{ item.link }}">
			{{ item.title }}
			{% include "menu.twig" with {'items': item.children} %}
		</a>
	{% endfor %}
	</nav>
{% endif %}
